@model List<HigherEducationApp.Models.ReviewOfInstitution>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Отзывы о вузах России</h1>
    <h2>@ViewBag.Institution.Name</h2>
    <div>
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="card w-90 mx-5 mb-3" style="background-color: @ViewBag.TonalityColor[Model[i].Tonality]">
                <h5 class="card-header">@Model[i].AuthorStatus</h5>
                <div class="card-body">
                    <p class="card-text">@Model[i].Text</p>
                    <a href="InstitutionReport?id=@Model[i].Institution.Id&year=2023" class="btn btn-primary">Отчет ВУЗа</a>
                </div>
            </div>
        }
    </div>
</div>