@model HigherEducationApp.Models.YearReport

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/YearReport/YearReport.cshtml";
}

<h1>Create</h1>

<h4>YearReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountAllStudents" class="control-label"></label>
                <input asp-for="CountAllStudents" class="form-control" />
                <span asp-validation-for="CountAllStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountFullTimeStudents" class="control-label"></label>
                <input asp-for="CountFullTimeStudents" class="form-control" />
                <span asp-validation-for="CountFullTimeStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountFreeFormStudents" class="control-label"></label>
                <input asp-for="CountFreeFormStudents" class="form-control" />
                <span asp-validation-for="CountFreeFormStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

