@{
    ViewData["Title"] = "Education";
}

<div class="text-center" id="start_block">
    <h2 class="display-4">Добро пожаловать в <br />информационно-аналитическую систему <br />для анализа деятельности <br />высших учебных заведений <br />Российской Федерации</h2>
    <h6>Для перехода к анализу нажмите на ссылку --> <a href="https://localhost:44356/YearReport?year=2023">Годовой отчет 2023</a>.</h6>
</div>


